EXPO_PUBLIC_SUPABASE_URL=
EXPO_PUBLIC_SUPABASE_ANON_KEY=
EXPO_PUBLIC_RC_API_KEY_IOS=appl_XXXX
EXPO_PUBLIC_RC_API_KEY_ANDROID=goog_XXXX
EXPO_PUBLIC_RC_ENTITLEMENT_PREMIUM=premium
EXPO_PUBLIC_RC_OFFERING_IDENTIFIER=default
EXPO_PUBLIC_POSTHOG_API_KEY=phc_XXXX
EXPO_PUBLIC_POSTHOG_HOST=https://app.posthog.com
